.path_progress
/.config
/test/tmp/
/test/version_tmp/
/tmp/
.ruby-version
.env
/.yardoc/
/_yardoc/
/doc/
/rdoc/
/.bundle/
/vendor/
/lib/bundler/man/
.ruby-version
.ruby-gemset
.rvmrc

.Spotlight-V100
.DS_Store
